#if defined(UNDER_CE)
#include <winbase.h>
#else
#include <windows.h>
#endif

IDI_ICON1 ICON DISCARDABLE "Icon/application.ico"

VS_VERSION_INFO VERSIONINFO
    FILEVERSION 1,0,0,1
    PRODUCTVERSION 1,0,0,0
    FILEFLAGSMASK 0x3fL
    FILEOS VOS__WINDOWS32
    FILETYPE VFT_DLL
    FILESUBTYPE 0x0L
    BEGIN
        BLOCK "StringFileInfo"
        BEGIN
			BLOCK "040904b0"
			BEGIN
                        	VALUE "CompanyName", "Fuck,I cannot use Chinese"
				VALUE "FileDescription", "a progarm language who was created by a pupil"
				VALUE "FileVersion", "1.0.0.0"
				VALUE "LegalCopyright", "I do not have"
				VALUE "OriginalFilename","ning.exe"
				VALUE "ProductName", "Ning Meng Language"
				VALUE "ProductVersion", "1.0.0.0"
			END
		END
	BLOCK "VarFileInfo"
	BEGIN
		VALUE "Translation",0x804,1200
	END
END
